# environment variables for server.js
export PORT=3000
export MEMCOST=14
export ROUNDS=8
export SALTSEPARATOR=Bw==
export SIGNERKEY=VYKo0a2XuyDIh6vKjwudPqCSDerFT39YB8juN30wZrqTItSiMsKbtSZyxODPEAXjeOQVHqxmKO3DryyzA7a/rw==
export ALGORITH=SCRYPT

